@model EBook.Models.SachModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SachModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TuaSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuaSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhMinhHoa)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.HinhMinhHoa)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noidung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
